<div class="update-book" *ngIf="book">
  <form [formGroup]="updateBookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title" class="required">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        formControlName="title"
        placeholder="Book Title"
      />
    </div>
    <div class="form-group">
      <label for="description" class="required">Description</label>
      <textarea
        class="form-control"
        name="description"
        id="description"
        formControlName="description"
        placeholder="Book Description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="author" class="required">Author</label>
      <input
        type="text"
        class="form-control"
        name="author"
        id="author"
        formControlName="author"
        placeholder="Book Author"
      />
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-4 col-sm-4">
        <div class="form-group">
          <label for="dateStart">Date Start</label>
          <input
            type="date"
            class="form-control"
            name="dateStart"
            id="dateStart"
            formControlName="dateStart"
            placeholder="Date Start"
          />
        </div>
      </div>
      <div class="col-md-4 col-xs-4 col-sm-4">
        <div class="form-group">
          <label for="dateRead">Date End</label>
          <input
            type="date"
            class="form-control"
            name="dateRead"
            id="dateRead"
            formControlName="dateRead"
            placeholder="Date Read"
          />
        </div>
      </div>
      <div class="col-md-4 col-xs-4 col-sm-4">
        <div class="form-group">
          <label for="rate">Rate</label>
          <input
            type="number"
            min="0"
            max="5"
            class="form-control"
            name="rate"
            id="rate"
            formControlName="rate"
            placeholder="Book Rate"
          />
        </div>
      </div>
    </div>
    <div class="buttons-container">
      <button type="submit" class="btn btn-success">Update Book</button>
      <button type="submit" class="btn btn-secondary" [routerLink]="['/books']">
        Cancel
      </button>
    </div>
  </form>
</div>
